<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="/styles.css" />
  <title>Prompt Generator | Add Words</title>
</head>

<body>
  <div class="header">
    <div class="title">
      <h2>Story Prompt Generator</h2>
      <a href="">Add Words</a>
      <span> | </span>
      <a href="index.html">Prompt Generator</a>
      <span> | </span>
      <a href="https://github.com/BYUCS260/midterm-2-rakudola">Github Repository</a>
    </div>
  </div>
  
  <div id="admin" class="content">
    <h1>Word Bank Management</h1>
    <p>Remember God is watching ☺</p>
    <div class="heading">
      <h2>Add a Word</h2>
    </div>

    <div class="add">
      <div class="form">
        <input v-model="nounTitle" placeholder="Noun">
        <button @click="addNoun">Add</button>
        <p id="nounForm">Singular nouns</p>
        <br />
      </div>
      
      <div class="form">
        <input v-model="adjTitle" placeholder="Adjective">
        <button @click="addAdj">Add</button>
        <p id="adjForm">Any adjectives</p>
        <br />
      </div>
      
      <div class="form">
        <input v-model="verbTitle" placeholder="Verb">
        <button @click="addVerb">Add</button>
        <p id="verbForm">Transitive, past-tense verbs</p>
        <br />
      </div>
    </div>

    <div class="heading">
      <h2>Nouns</h2>
    </div>
    
    <div class="word-list" v-for="noun in nouns">
      <button class="x-button" @click="deleteNoun(noun)">X</button>
      <span>{{noun.title}} </span>
    </div>
    
    <div class="heading">
      <h2>Adjectives</h2>
    </div>
    
    <div class="word-list" v-for="adj in adjs">
      <button class="x-button" @click="deleteAdj(adj)">X</button>
      <span>{{adj.title}} </span>
      <br />
    </div>
    
    <div class="heading">
      <h2>Verbs</h2>
    </div>
    
    <div class="word-list" v-for="verb in verbs">
      <button class="x-button" @click="deleteVerb(verb)">X</button>
      <span>{{verb.title}} </span>
      <br />
    </div>
    
  </div>

  <div class="footer">
    <a href="">Add Words</a>
    <span> | </span>
    <a href="index.html">Prompt Generator</a>
    <span> | </span>
    <a href="https://github.com/BYUCS260/midterm-2-rakudola">Github Repository</a>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.7/vue.js" integrity="sha256-g+Q8DFAmG5+eyRPSydX0LY4TfjsL11XSDrIGerbbEdA=" crossorigin="anonymous"></script>
  <script src="/admin.js"></script>
</body>

</html>
